<a href="https://colab.research.google.com/github/jwilson137/NLP/blob/main/NLP.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [4]:
import nltk

# Chapter 1

## NLTK Basics

In [15]:
nltk.download('stopwords')
from nltk.corpus import stopwords

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [17]:
stopwords.words('english')[0:500:25]

['i', 'herself', 'been', 'with', 'here', 'very', 'doesn', 'won']

## Reading in Semi-Structured Data

In [18]:
# Import Data Chapter 1, Section 3
rawData = open('SMSSpamCollection.tsv').read()

# Print the raw data
rawData[0:500]

"ham\tI've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.\nspam\tFree entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's\nham\tNah I don't think he goes to usf, he lives around here though\nham\tEven my brother is not like to speak with me. They treat me like aid"

In [20]:
parsedData = rawData.replace('\t','\n').split('\n')
parsedData[0:5]

['ham',
 "I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.",
 'spam',
 "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's",
 'ham']

In [21]:
labelList = parsedData[0::2]
textList = parsedData[1::2]

In [23]:
print(labelList[0:5])
print(textList[0:5])

['ham', 'spam', 'ham', 'ham', 'ham']
["I've been searching for the right words to thank you for this breather. I promise i wont take your help for granted and will fulfil my promise. You have been wonderful and a blessing at all times.", "Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive entry question(std txt rate)T&C's apply 08452810075over18's", "Nah I don't think he goes to usf, he lives around here though", 'Even my brother is not like to speak with me. They treat me like aids patent.', 'I HAVE A DATE ON SUNDAY WITH WILL!!']

In [32]:
import pandas as pd

fullCorpus = pd.DataFrame({
    'label': labelList,
    'body_list': textList
})

ValueError: ignored

In [33]:
print(len(labelList))
print(len(textList))
print(labelList[-5:])

5571
5570
['ham', 'ham', 'ham', 'ham', '']

In [36]:
fullCorpus = pd.DataFrame({
    'label': labelList[:-1],
    'body_list': textList
})

fullCorpus.head()

  label                                          body_list
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

In [38]:
dataset = pd.read_csv("SMSSpamCollection.tsv", sep='\t', header=None)
dataset.head()

      0                                                  1
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

## Exploring the DataSet

In [45]:
import pandas as pd

fullCorpus = pd.read_csv('SMSSpamCollection.tsv', sep='\t', header=None)
fullCorpus.columns = ['label','body_text']

fullCorpus.head()

  label                                          body_text
0   ham  I've been searching for the right words to tha...
1  spam  Free entry in 2 a wkly comp to win FA Cup fina...
2   ham  Nah I don't think he goes to usf, he lives aro...
3   ham  Even my brother is not like to speak with me. ...
4   ham                I HAVE A DATE ON SUNDAY WITH WILL!!

Explore the dataset

In [49]:
# What is the shape of the dataset? 

print("Input data has {} rows and {} columns.".format(len(fullCorpus), 
                                                      len(fullCorpus.columns)))

Input data has 5568 rows and 746 columns.

In [51]:
#How many spam/ham are there?

print("Out of {} rows, {} are spam, and {} are ham.".format(len(fullCorpus),
                                                            len(fullCorpus[fullCorpus['label']=="spam"]),
                                                            len(fullCorpus[fullCorpus['label']=="ham"])
                                                      ))

Out of 5568 rows, 746 are spam, and 4822 are ham.

In [53]:
#How much missing data is there? 
print("Number of null in label: {}".format(fullCorpus['label'].isnull().sum()))
print("Number of null in text: {}".format(fullCorpus['body_text'].isnull().sum()))

Number of null in label: 0
Number of null in text: 0

## Regular Expressions

In [85]:
import re

re_test = 'This is a made up string to test 2 different regex methods'
re_test_messy = 'This           is a made up      string to test 2     different regex methods'
re_test_messy1 = 'This-is-a-made/up.string*to>>>>test----2""""""different-regex-methods'

Splitting a sentence into a list of words

In [86]:
re.split('\s', re_test)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [87]:
re.split('\s', re_test_messy)

['This',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 '',
 'is',
 'a',
 'made',
 'up',
 '',
 '',
 '',
 '',
 '',
 'string',
 'to',
 'test',
 '2',
 '',
 '',
 '',
 '',
 'different',
 'regex',
 'methods']

In [88]:
re.split('\s+', re_test_messy)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [89]:
re.split('\s+', re_test_messy1)

['This-is-a-made/up.string*to>>>>test----2""""""different-regex-methods']

In [90]:
re.split('\W+', re_test_messy1)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [91]:
re.findall('\S+', re_test)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [92]:
re.findall('\S+', re_test_messy)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

In [93]:
re.findall('\S+', re_test_messy1)

['This-is-a-made/up.string*to>>>>test----2""""""different-regex-methods']

In [94]:
re.findall('\w+', re_test_messy)

['This',
 'is',
 'a',
 'made',
 'up',
 'string',
 'to',
 'test',
 '2',
 'different',
 'regex',
 'methods']

Replacing a specific string

In [71]:
pep8_test = "I try to follow PEP8 guidelines"
pep7_test = "I try to follow PEP7 guidelines"
peep8_test = "I try to follow PEEP8 guidelines"

In [95]:
import re

re.findall('[a-z]+', pep8_test)

['try', 'to', 'follow', 'guidelines']

In [96]:
re.findall('[A-Z]+', pep8_test)

['I', 'PEP']

In [101]:
re.findall('[A-Z]+[0-9]+', peep8_test)

['PEEP8']

In [105]:
re.sub('[A-Z]+[0-9]+', 'PEP8 Python Styleguide', pep8_test)

'I try to follow PEP8 Python Styleguide guidelines'

Other examples 


*   re.search()
*   re.match()
* re.

## Machine Learning Pipeline
1. Raw Text - model cant distinguish
2. Tokenize - tell the model what to look at
3. Clean text - remove stopwords/punctuation, stemming, etc. 
4. Vectorize - convert to numeric form
5. Machine learning algorithm - fit/train model
6. Spam filter - system to filter **emails**

### Pre-processing text data.
We clean the data to highlight attributes that the ML system can work with more easily.  
1. **Remove punctuation**
2. **Tokenization**
3. **Remove Stopwords**
4. Lemmatize/Stem

In [109]:
import pandas as pd
pd.set_option('display.max_colwidth',100)

data = pd.read_csv('SMSSpamCollection.tsv', sep='\t', header=None)
data.columns = ['label', 'body_text']

data.head()

  label                                                                                            body_text
0   ham  I've been searching for the right words to thank you for this breather. I promise i wont take yo...
1  spam  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005. Text FA to 87121 to receive ...
2   ham                                        Nah I don't think he goes to usf, he lives around here though
3   ham                        Even my brother is not like to speak with me. They treat me like aids patent.
4   ham                                                                  I HAVE A DATE ON SUNDAY WITH WILL!!

Remove punctuation

In [110]:
import string
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [111]:
"I like NLP." == "I like NLP"

False

In [121]:
def remove_punct(text):
  text_nopunct = "".join([char for char in text if char not in string.punctuation])
  return text_nopunct

data['body_text_clean'] = data['body_text'].apply(remove_punct)

data.head()

  label  ...                                                                                      body_text_clean
0   ham  ...  Ive been searching for the right words to thank you for this breather I promise i wont take your...
1  spam  ...  Free entry in 2 a wkly comp to win FA Cup final tkts 21st May 2005 Text FA to 87121 to receive e...
2   ham  ...                                          Nah I dont think he goes to usf he lives around here though
3   ham  ...                          Even my brother is not like to speak with me They treat me like aids patent
4   ham  ...                                                                    I HAVE A DATE ON SUNDAY WITH WILL

[5 rows x 3 columns]

Tokenization

In [126]:
import re

def tokenize(text):
  tokens = re.split('\W+', text)
  return tokens

data['body_text_tokenized'] = data['body_text_clean'].apply(lambda x: tokenize(x.lower()))

data.head()

  label  ...                                                                                  body_text_tokenized
0   ham  ...  [ive, been, searching, for, the, right, words, to, thank, you, for, this, breather, i, promise, ...
1  spam  ...  [free, entry, in, 2, a, wkly, comp, to, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, to...
2   ham  ...                            [nah, i, dont, think, he, goes, to, usf, he, lives, around, here, though]
3   ham  ...         [even, my, brother, is, not, like, to, speak, with, me, they, treat, me, like, aids, patent]
4   ham  ...                                                           [i, have, a, date, on, sunday, with, will]

[5 rows x 4 columns]

In [127]:
'NLP' == 'nlp'

False

Remove Stopwords

In [129]:
import nltk

stopwords = nltk.corpus.stopwords.words('english')

In [135]:
def remove_stopwords(tokenized_list):
  text = [word for word in tokenized_list if word not in stopwords]
  return text

data['body_text_nostop'] = data['body_text_tokenized'].apply(lambda x: remove_stopwords(x))

data.head()

  label  ...                                                                                     body_text_nostop
0   ham  ...  [ive, searching, right, words, thank, breather, promise, wont, take, help, granted, fulfil, prom...
1  spam  ...  [free, entry, 2, wkly, comp, win, fa, cup, final, tkts, 21st, may, 2005, text, fa, 87121, receiv...
2   ham  ...                                                 [nah, dont, think, goes, usf, lives, around, though]
3   ham  ...                                              [even, brother, like, speak, treat, like, aids, patent]
4   ham  ...                                                                                       [date, sunday]

[5 rows x 5 columns]